.card-container {
  color: white;
  position: relative;
  font-family: sans-serif;
  padding:30px 50px;
  margin:30px 50px;
}

.card-container::before,
.card-container::after {
  content: "";
  background-color: #fab5704c;
  position: absolute;
}
.card-box {
  width: 12em;
  height: 16em;
  padding: 1rem;
  border-radius: 0.7rem;
  background-color: rgba(0, 0, 0, 0.35); /* fallback blur */
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all ease 0.3s;
  background-blend-mode: darken;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.card-box:hover {
    transform: scale(1.06);
    box-shadow:
        0 0 25px rgba(20, 55, 84, 0.6),
        0 0 45px rgba(20, 55, 84, 0.35);
    border: 4px solid rgba(20, 55, 84, 0.75);
    background: rgba(20, 55, 84, 0.10);
    backdrop-filter: blur(8px);
}



.card-content strong {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.card-content p {
  margin: 0 0 0.5rem 0;
  font-size: 0.85rem;
  font-weight: 300;
}

.detail-btn {
  font-size: 0.75rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
