
.contact-section {
    position: relative;
    padding: 100px 0;
}

.contact-us{
    color:white;
    font-family: "Lato", sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding:30px;

}

textarea.contact-inputs {
    height: 180px;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.contact-container {
  width:700px;
  margin:auto;
  padding:15px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  overflow: hidden;
}

.contact-container p{
    color:white;
     font-family: "Lato", sans-serif;
     margin-left:10px ;
}

.contact-container input, .contact-container textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 12px;
  border: blueviolet;
  background: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}
.submit {
    top:20px;
    text-decoration: none;
    display: inline-block; 
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 999px;
    margin-block-start: 1rem; 
    background: #19446B;
    backdrop-filter: blur(15px); 
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 0.74rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
     align-items: center;
    transition: all 0.15s ease-in;
  }
  .submit:hover {
    border: 2px solid #2d3e50;
    background-color: transparent;
    color: #2d3e50;
  }