/* body {
  background: linear-gradient(160deg, #224b79 0%, #1d3557 40%, #0d1b2a 100%);
  background-attachment: fixed;
} */

body {
  background: #1d3557; 
}

/* body {
  background: radial-gradient(
    circle at center,
    #2E587D 0%,
    #1f4b70 50%,
    #19446B 90%
  );
  background-attachment: fixed;
} */


/* body {
  background: linear-gradient(
    to bottom,
    #1d3557 0%,
    #2a4a73 30%,
    #3e5f88 55%,
    #eef2f6 100%
  );
  background-attachment: fixed;
} */


.search-container {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.search-box {
    background: white;
    padding: 12px 20px;
    width: 500px;
    max-width: 80%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}

.search-box:focus-within {
    transform: scale(1.03);
    box-shadow: 0px 5px 25px rgba(0,0,0,0.25);
}

#searchInput {
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    padding-left: 5px;
}

.search-btn {
    background: #1A237E;
    border: none;
    outline: none;
    color: white;
    padding: 10px 13px;
    border-radius: 50%;
    cursor: pointer;
    transition: .25s ease;
}

.search-btn:hover {
    transform: rotate(10deg) scale(1.1);
}
