body{
    background-color: #2E587D;

}
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.search-box {
    background: white;
    padding: 12px 20px;
    width: 500px;
    max-width: 80%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}

.search-box:focus-within {
    transform: scale(1.03);
    box-shadow: 0px 5px 25px rgba(0,0,0,0.25);
}

#searchInput {
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    padding-left: 5px;
}

.search-btn {
    background: #1A237E;
    border: none;
    outline: none;
    color: white;
    padding: 10px 13px;
    border-radius: 50%;
    cursor: pointer;
    transition: .25s ease;
}

.search-btn:hover {
    transform: rotate(10deg) scale(1.1);
}
