*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eaeaea;
    overflow-x: hidden;
}

.logo{
      font-family: "Cormorant Garamond", serif;
      color:white;
      font-weight: bold;
      font-size: 1.5rem;
}

.book{
    background-color: #19446B;
    color:white;
    border-radius:8px;
    padding: 10px 18px;
    font-size: 16px;
    align-items: center;
    display: flex;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding : 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:100;
}

.header::before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,.1);
  backdrop-filter: blur(10px);
  z-index: -1;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4), transparent);
  transition: left 0.5s ease-in-out;
  pointer-events: none; 
}

.header:hover::after {
  left: 100%;
}

.navbar a{
  font-size: 1.15rem;
  color:#fff;
  text-decoration: none;
  font-weight:500;
  margin-right: 2.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container{
    width: 100%;
    height: 850px;
    background: #f5f5f5;
    position: relative;
    box-shadow: 0 30px 50px #dbdbdb;
    border-radius: 0;
     overflow-x: hidden;
}

.container .slide {
    display: flex;
    align-items: center;
    overflow: hidden; /* sembunyikan yang keluar */
    position: relative;
    height: 100%;
}


.container .slide .item{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 65%;
    transform: translate(0, -35%);
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide {
    position: relative;
    width: 100%;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3){
    left: 65%;
}
.slide .item:nth-child(4){
    left: calc(65% + 220px);
}
.slide .item:nth-child(5){
    left: calc(65% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
    left: calc(65% + 660px);
    opacity: 0;
}

.item .content{
    position: absolute;
    top: 50%;
    left: 150px;
    width: 700px;
    text-align: left;
    color: #eee;
    transform: translate(0, -40%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content{
    display: block;
}

.content{
    max-width: 90%;
}

.content .name{
    font-size: 55px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    max-width: 500px;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
    font-size: 20px; 
    line-height: 1.6;
    max-width: 650px;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
    font-size: 18px;    
    color:white;
    background-color: #2E587D;
    font-weight: bold;
    padding: 14px 28px;
    border-radius:8px;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards; 
     border: none;       
    outline: none;       
    box-shadow: none;    
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #fff;
}
